.manage-clinic-container {
    padding: 0 15px;

    .manage-clinic-title {
        text-align    : center;
        margin        : 10px 0;
        text-transform: uppercase;
        font-weight   : 600;
        font-size     : 20px;
    }

    .label-upload {
        padding      : 5px;
        border-radius: 3px;
        background   : #ddd;
        cursor       : pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .preview-image {
        height         : 50px;
        width          : 100%;
        border         : 1px solid #ddd;
        background     : center center no-repeat;
        background-size: contain;
        cursor         : pointer;
    }

    .add-new-clinic {
        .btn-save-clinic {
            border       : none;
            border-radius: 3px;
            padding      : 8px 5px;
            min-width    : 75px;
            margin       : 15px 15px;
            background   : orange;
            cursor       : pointer;

            &:hover {
                opacity: 0.9;
            }
        }

        .btn-create-clinic {
            border       : none;
            border-radius: 3px;
            padding      : 8px 5px;
            min-width    : 75px;
            margin       : 15px 15px;
            background   : rgb(70, 85, 221);
            cursor       : pointer;
            color        : white;

            &:hover {
                opacity: 0.9;
            }
        }
    }
}