.change-password-body {
    background-image: linear-gradient(to bottom right, #BEEBF1, #F3ACCC);
    height          : 100vh;
    overflow        : hidden;
    font-family     : monospace;

    .change-password-container {
        position : absolute;
        top      : 50%;
        left     : 50%;
        transform: translate(-50%, -50%);
        width    : 400px;
        height   : 70vh;
        z-index  : 1;
    }

    .change-password-container::before {
        position        : absolute;
        bottom          : 50%;
        left            : 80%;
        width           : 600px;
        height          : 600px;
        content         : '';
        background-image: linear-gradient(to bottom right, #B1BAF5, #C2ADF3);
        border-radius   : 50%;
        z-index         : -1;
        animation       : backroundanimation 6s ease-in-out 2s infinite alternate;
    }

    .change-password-container::after {
        position        : absolute;
        top             : 50%;
        right           : 80%;
        width           : 400px;
        height          : 400px;
        content         : '';
        background-image: linear-gradient(to bottom right, #B1BAF5, #C2ADF3);
        border-radius   : 50%;
        z-index         : -1;
        filter          : blur(10px);
        animation       : backroundanimation 5s ease-in-out infinite alternate;
    }

    @keyframes backroundanimation {
        from {
            transform: translate(0, 0);
        }

        to {
            transform: translate(0, 100px);
        }
    }

    .change-password-form {
        background-color: rgba(rgb(239, 239, 239), 0.3);
        width           : 100%;
        height          : 100%;
        border-radius   : 30px;
        overflow        : hidden;

        .change-password-content {
            width   : 80%;
            padding : 10%;
            height  : 60%;
            position: absolute;

            h1 {
                color        : #fff;
                margin-bottom: 50px;
            }

            button {
                width           : 100%;
                border          : none;
                margin-top      : 20px;
                padding         : 15px 0;
                position        : absolute;
                bottom          : -10;
                background-image: linear-gradient(to right, #90ABF4, #E697D5);
                color           : #fff;
            }

            .group {
                height       : 60px;
                position     : relative;
                margin-bottom: 30px;
                margin-top   : -5px;

                label {
                    position  : absolute;
                    top       : 45px;
                    left      : 10%;
                    transition: 0.5s;
                }

                .inputText {
                    margin-top      : 30px;
                    width           : 133%;
                    padding         : 0 10%;
                    height          : 50px;
                    border          : none;
                    outline         : none;
                    background-color: rgba(rgb(255, 255, 255), 0.6);
                }

                .inputText:focus+label,
                .inputText:not(:placeholder-shown)+label {
                    top : 0;
                    left: 10%;
                }

                .inputText:valid {
                    border-bottom: 1px solid #909fee;
                }
            }
        }
    }
}