.detail-specialty-container {
    .detail-specialty-body {
        .title-handbook {
            padding-top: 10px;
            font-weight: 600;
            font-size  : 30px;
            text-align : center;
        }

        .description-handbook {
            margin: 20px 0px;
        }
    }
}